/* GLOBAL STYLES */
:root {
  --app-shell-color: black;
  --app-content-color: darkred;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

#app-shell {
  display: flex;
  color: var(--app-shell-color);
  position: relative;
  border: 1px solid var(--app-shell-color);
  padding: 1.5rem;
  margin: 1rem;
}

#app-shell::before {
  content: 'APP SHELL';
  font-weight: bold;
  background: #fff;
  padding: .25rem;
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translateY(-50%);
}

#app-content {
  position: relative;
  flex: 1;
  border: 1px solid var(--app-content-color);
  padding: 1.5rem;
  margin: .5rem;
}

#app-content::before {
  color: var(--app-content-color);
  content: 'APP CONTENT';
  font-weight: bold;
  background: #fff;
  padding: .25rem;
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translateY(-50%);
}

#shell-navigation {
  margin-right: 1.5rem;
}

#shell-navigation ul{
  list-style-type: none;
  padding: 0;
}

#shell-navigation ul li{
  padding: .5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}
